/* Lume's design system */
@import "https://unpkg.com/@lumeland/ds@0.5.2/ds.css";

/* Make the links black */
:root {
  --color-link: var(--color-base);
  --color-link-hover: var(--color-dim);
}

/* Page layout */
main {
  padding: var(--row-gap-medium) 0;
  max-width: min(100% - 15vw, 45em);
  margin: 0 auto;

  & > :first-child {
    margin-top: 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-alert {
  --color-note: #1f6feb;
  --size-8: 0.5rem;
  --size-16: 1rem;

  padding: var(--size-8) var(--size-16);
  margin-bottom: var(--size-16);
  color: inherit;
  border-left: 0.2em solid var(--color-note);
}

.markdown-alert p, h1, h2, h3 {
  margin: var(--size-8) 0;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--color-note);
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-note);
}
